[Unit]
Description=Traefik Proxy para __PROJECT__
After=__PROJECT__.network

[Container]
ContainerName=__PROJECT__-traefik
Image=docker.io/library/traefik:v3.2
Network=__PROJECT__.network
PublishPort=80:80
PublishPort=443:443
PublishPort=8080:8080
Volume=__PODMAN_SOCKET__:/var/run/docker.sock:ro
Command=--providers.docker --providers.docker.exposedbydefault=false --entrypoints.web.address=:80 --entrypoints.websecure.address=:443 --api.dashboard=true --api.insecure=true --log.level=INFO
HealthCmd=traefik healthcheck --ping
HealthStartPeriod=10s
HealthInterval=10s
HealthRetries=3
HealthTimeout=5s

[Install]
WantedBy=__PROJECT__.target
