[Unit]
Description=PostgreSQL Global Compartido
After=podman-network-proxy-net.service

[Container]
ContainerName=postgres-global
Image=docker.io/library/postgres:17-alpine
Network=proxy-net
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=changeme_dev_123
Volume=postgres-global-data:/var/lib/postgresql/data
PublishPort=5432:5432
HealthCmd=pg_isready -U postgres
HealthStartPeriod=10s
HealthInterval=5s
HealthRetries=5
HealthTimeout=5s

[Volume]
VolumeName=postgres-global-data

[Install]
WantedBy=default.target
