[Unit]
Description=Proyecto __PROJECT__
Wants=__PROJECT__-postgres.service __PROJECT__-redis.service __PROJECT__-backend.service
After=__PROJECT__-network.service

[Install]
WantedBy=default.target
