[Unit]
Description=Redis para __PROJECT__
PartOf=__PROJECT__.target
After=__PROJECT__-network.service
Wants=__PROJECT__-network.service

[Container]
ContainerName=__PROJECT__-redis
Image=docker.io/library/redis:7-alpine
Network=__PROJECT__.network
Volume=__PROJECT__-redis-data.volume:/data
PublishPort=6379:6379
Exec=redis-server --appendonly yes
HealthCmd=redis-cli ping
HealthStartPeriod=5s
HealthInterval=5s
HealthRetries=3
HealthTimeout=3s

[Install]
WantedBy=__PROJECT__.target
